.banner-about {
  position: absolute;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.mascara-img {
  max-height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.50);
  z-index: -2;
  height: 100%;
}

.banner-about img {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -3;
  max-height: 600px;
  object-fit: cover;
  height: 100%;
}

.banner-about h1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
}

.feedback-about {
  padding: 60px 20px;
  margin-top: 600px;
}

.feedback-about h1 {
  text-align: center;
  font-size: 36px;
  font-weight: semi-bold;
  margin-bottom: 30px;
}

.feedback-about p {
  color: rgba(71, 77, 89, 0.80);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.container-feedback__numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-about h1 {
  margin-bottom: 4px;
  color: #001781;
}

.box-about p {
  font-size: 20px;
  font-weight: 400;
  color: #0B0C12;
}

.about-contain {
  background: #E6EAF0;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 80px 0;
}

.about-us__info, .about-us__img {
  flex: 1;
}

.about-us__img {
  display: flex;
  align-items: center;
  justify-items: center;
  max-width: 300px;
}

.about-us__info {
  grid-column: 2/4;
}

.about-us__info h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.about-us__info p {
  font-size: 1rem;
  color: #474D59;
  line-height: 24px;
}

.container-box__parceiros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.parceria-about {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}

.parceria-about h1 {
  text-align: center;
  padding: 24px 0;
}

.box-parceiros {
  padding: 24px 0;
  border: 1px solid #E6EAF0;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .banner-about {
    position: absolute;
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  
  .mascara-img {
    max-height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    z-index: -2;
    height: 100%;
  }
  
  .banner-about img {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -3;
    max-height: 400px;
  }
  
  .banner-about h1 {
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
  }

  .feedback-about {
    margin-top: 370px;
  }
  
  .feedback-about h1 {
    text-align: center;
    font-size: 36px;
    font-weight: semi-bold;
    margin-bottom: 12px;
  }
  
  .feedback-about p {
    color: rgba(71, 77, 89, 0.80);
    font-size: 16px;
    line-height: 24px;
  }
  
  .container-feedback__numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .box-about h1 {
    margin-bottom: 4px;
    color: #001781;
  }
  
  .box-about p {
    font-size: 20px;
    font-weight: 400;
    color: #0B0C12;
  }

  .about-contain {
    background: #E6EAF0;
  }
  
  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 80px 0;
  }
  
  .about-us__info, .about-us__img {
    flex: 1;
  }
  
  .about-us__img {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: 300px;
    padding: 24px;
  }
  
  .about-us__info {
    grid-row: 3/4;
    grid-column: 1/4;
    padding: 0 20px;
  }
  
  .about-us__info h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .about-us__info p {
    font-size: 1rem;
    color: #474D59;
    line-height: 24px;
  }

  .container-box__parceiros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 20px;
  }
  
  .parceria-about {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }
  
  .parceria-about h1 {
    text-align: center;
    padding: 24px 0;
  }
  
  .box-parceiros {
    padding: 24px 0;
    border-radius: 10px;
  }
}